Repository crustio/crust-sworker, pull requests merged in 2020-10, with the labels that each got.

#235 Change tee to sworker and upgrade version file
  README.md
  VERSION
  docs/API.md
  scripts/install.sh
  scripts/package.sh
  scripts/utils.sh
  src/Config.json
  src/Makefile
  src/app/App.cpp
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/ocalls/OCalls.cpp
  src/app/process/Data.cpp
  src/app/process/Data.h
  src/app/process/EntryNetwork.cpp
  src/app/process/EntryNetwork.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/include/Parameter.h
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EUtils.h
  test/integration/build_test.sh
  test/integration/scripts/start_test.sh
Labels: A-app, A-enclave, B-feature

#236 Offline mode support work report
  src/app/process/Process.cpp
  src/app/process/WorkReport.cpp
Labels: A-app, B-feature

#237 AB upgrade enclave part
  Makefile
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/WebServer.cpp
  src/app/include/CrustStatus.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/Data.cpp
  src/app/process/Data.h
  src/app/process/EntryNetwork.cpp
  src/app/process/EntryNetwork.h
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/report/Report.h
  src/enclave/utils/EJson.h
  src/enclave/utils/EUtils.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-feature

#238 Fix missing block bug
  src/app/process/WorkReport.cpp
Labels: A-app, B-bug

#239 Better wait time when skipping block
  src/app/process/WorkReport.cpp
Labels: A-app, B-feature

#240 AB upgrade app part
  src/app/App.cpp
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/http/WebServer.cpp
  src/app/http/WebServer.h
  src/app/include/CrustStatus.h
  src/app/include/Resource.h
  src/app/ocalls/OCalls.cpp
  src/app/process/Data.cpp
  src/app/process/Data.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/utils/EJson.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-feature

#241 Delete useless functions
  buildenv.mk
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.cpp
  src/app/http/ApiHandler.h
  src/app/http/HttpClient.cpp
  src/app/http/WebServer.cpp
  src/app/include/CrustStatus.h
  src/app/include/IASReport.h
  src/app/include/MerkleTree.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/Data.cpp
  src/app/process/Data.h
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/report/Report.cpp
  src/enclave/report/Report.h
  test/integration/build_test.sh
Labels: A-app, A-enclave, B-performance

#243 Fix tx priority low
  src/app/chain/Chain.cpp
  src/app/process/Process.cpp
  src/app/process/WorkReport.cpp
  src/app/utils/Common.cpp
  src/app/utils/Common.h
Labels: A-app, B-bug

#245 A uploads workreport by itself during upgrade
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
Labels: A-enclave, B-performance

#246 Encapsulate identity data to workload class
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/report/Report.cpp
  src/enclave/report/Report.h
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/build_test.sh
  test/integration/scripts/utils.sh
Labels: A-app, A-enclave, B-performance

#247 Add safelock mechanism
  src/app/http/ApiHandler.h
  src/app/process/Data.cpp
  src/enclave/Enclave.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/report/Report.h
  src/enclave/srd/Srd.cpp
  src/enclave/srd/Srd.h
  src/enclave/utils/SafeLock.cpp
  src/enclave/utils/SafeLock.h
  src/enclave/validator/Validator.cpp
  src/enclave/validator/Validator.h
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-performance

#250 Fix workreport bug
  src/app/http/ApiHandler.h
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/build_test.sh
Labels: A-app, A-enclave, B-bug

#254 Access ipfs
  buildenv.mk
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/ipfs/Ipfs.cpp
  src/app/ipfs/Ipfs.h
  src/app/process/WorkReport.cpp
Labels: A-app, A-interface, B-feature

#255 Try again when restoring upgrade data failed
  src/app/ecalls/ECalls.cpp
  src/app/ocalls/OCalls.cpp
  src/app/process/EntryNetwork.cpp
  src/app/process/EntryNetwork.h
  src/app/process/Process.cpp
  src/enclave/include/CrustStatus.h
Labels: A-app, B-performance
