Repository crustio/crust-sworker, pull requests merged in 2020-11, with the labels that each got.

#266 Analyze ipfs block data and add unit test
  buildenv.mk
  src/enclave/include/CrustStatus.h
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
  test/unit/EnclaveUtilsTest.cpp
  test/unit/MainTest.cpp
  test/unit/MainTest.h
  test/unit/Makefile
  test/unit/enclave/EncalveTestEntrance.cpp
  test/unit/enclave/EncalveTestEntrance.h
  test/unit/enclave/storageTest/StorageTest.cpp
  test/unit/enclave/storageTest/StorageTest.h
  test/unit/enclave/utilsTest/UtilsTest.cpp
  test/unit/enclave/utilsTest/UtilsTest.h
Labels: A-enclave, A-other, B-feature

#267 Base58 encode function
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/EUtils.h
  test/unit/enclave/EncalveTestEntrance.cpp
  test/unit/enclave/utilsTest/UtilsTest.cpp
  test/unit/enclave/utilsTest/UtilsTest.h
Labels: A-enclave, B-feature

#268 Remove backup from interface
  README.md
  docs/API.md
  src/app/http/ApiHandler.h
Labels: A-interface, B-feature

#269 Add ipfs ocalls
  src/app/ocalls/IpfsOCalls.cpp
  src/app/ocalls/IpfsOCalls.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/ocalls/PersistOCalls.cpp
  src/app/ocalls/PersistOCalls.h
  src/enclave/Enclave.edl
  src/enclave/include/CrustStatus.h
Labels: A-app, B-feature

#270 Upgrade SGX SDK to 2.11
  .gitattributes
  README.md
  buildenv.mk
  docker/env/Dockerfile
  docker/runner/Dockerfile
  docker/runner/start_sworker.sh
  resource/intel-sgx-ssl-master.zip
  resource/libsgx-enclave-common-dev_2.7.101.3-xenial1_amd64.deb
  resource/libsgx-enclave-common_2.7.101.3-xenial1_amd64.deb
  resource/openssl-1.1.1d.tar.gz
  resource/openssl-1.1.1g.tar.gz
  resource/sgx_linux_x64_driver_2.6.0_4f5bb63.bin
  resource/sgx_linux_x64_driver_2.6.0_b0a445b.bin
  resource/sgx_linux_x64_sdk_2.11.100.2.bin
  resource/sgx_linux_x64_sdk_2.7.101.3.bin
  resource/toolset.tar.gz
  scripts/install_deps.sh
  src/app/App.h
  src/app/process/EntryNetwork.h
  src/app/process/Process.h
  src/app/utils/SgxSupport.c
  src/enclave/Enclave.h
  src/enclave/identity/Identity.h
Labels: A-other, B-feature

#271 Fixed SGX PSW version error
  scripts/install_deps.sh
Labels: A-other, B-bug

#273 Fix sgx init quote failed
  src/app/process/Process.cpp
Labels: A-app, B-bug

#274 Delete install_sgx_driver.sh
  scripts/install_sgx_driver.sh
Labels: A-other

#277 Increase restart punishment to 4 eras
  src/app/process/Process.cpp
  src/app/process/WorkReport.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/report/Report.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-enclave, B-feature

#278 Set A/B upgrade time to 5 eras
  src/app/include/Resource.h
Labels: A-app, B-bug

#279 Hide backup and password
  src/app/config/Config.cpp
Labels: A-app, B-feature

#280 Fix change srd task and http bug
  scripts/install_deps.sh
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/http/WebServer.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/srd/Srd.cpp
  src/enclave/srd/Srd.h
  src/enclave/workload/Workload.cpp
  test/integration/benchmark/seal
  test/integration/benchmark/srd
  test/integration/benchmark/validate
  test/integration/build_test.sh
  test/integration/config/config.json
  test/integration/scripts/start_test.sh
Labels: A-app, A-enclave, A-interface, B-bug

#281 Fix upgrade bug due to tbb lib
  resource/onetbb.tar
  scripts/install_deps.sh
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/http/WebServer.cpp
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
  src/enclave/report/Report.cpp
  src/enclave/workload/Workload.cpp
  test/integration/build_test.sh
  test/integration/functionality/500_upgrade
Labels: A-app, A-enclave, B-bug

#283 Fix enclave queue bug
  src/app/ecalls/ECalls.cpp
  src/app/utils/SafeLock.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/utils/SafeLock.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, B-bug

#284 Adjust enclave task wait time
  src/app/ecalls/ECalls.cpp
  src/enclave/workload/Workload.cpp
Labels: A-app, A-enclave

#285 Remove karst and confirm file
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/Storage.cpp
  src/app/process/Storage.h
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/schedule/Schedule.cpp
  src/enclave/schedule/Schedule.h
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-feature

#286 Remove tbb
  src/app/http/ApiHandler.cpp
  src/app/http/ApiHandler.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/EnclaveData.cpp
  src/app/process/EnclaveData.h
Labels: A-app, B-feature

#287 Cid funcnction
  src/app/ocalls/IpfsOCalls.cpp
  src/app/ocalls/IpfsOCalls.h
  src/enclave/Enclave.edl
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/EUtils.h
  test/unit/MainTest.h
  test/unit/enclave/EncalveTestEntrance.cpp
  test/unit/enclave/utilsTest/UtilsTest.cpp
  test/unit/enclave/utilsTest/UtilsTest.h
Labels: A-enclave, B-feature

#290 Stop SRD auto adjust when A/B upgrade
  src/app/process/Srd.cpp
  src/enclave/Enclave.cpp
  test/integration/build_test.sh
Labels: A-enclave, B-bug

#291 Fix chain return null
  src/app/chain/Chain.cpp
  src/enclave/storage/Storage.cpp
Labels: A-app, B-bug

#292 Fix the problem that the pointer is not released
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/http/ApiHandler.cpp
  src/app/http/ApiHandler.h
  src/app/http/HttpClient.cpp
  src/app/http/WebServer.cpp
  src/app/ocalls/OCalls.cpp
  src/app/process/Process.cpp
  src/app/process/WorkReport.cpp
  src/app/utils/Common.cpp
  src/app/utils/Common.h
Labels: B-bug
