Repository crustio/crust-sworker, pull requests merged in 2020-08, with the labels that each got.

#196 Reframe include and hard code
  README.md
  buildenv.mk
  scripts/utils.sh
  src/Makefile
  src/app/App.h
  src/app/http/ApiHandler.h
  src/app/include/CrustStatus.h
  src/app/include/IASReport.h
  src/app/include/MerkleTree.h
  src/app/include/Resource.h
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/enclave/Parameter.h
  src/enclave/identity/Identity.cpp
  src/enclave/include/CrustStatus.h
  src/enclave/include/IASReport.h
  src/enclave/include/MerkleTree.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EUtils.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
Labels: enhancement, maxwell

#201 Better docker readme
  README.md
  docs/API.md
  docs/Docker.md
Labels: A-other, B-documentation

#202 Avoid memory overflow crash
  src/enclave/identity/Identity.cpp
  src/enclave/persistence/Persistence.cpp
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/EUtils.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
Labels: A-enclave, B-bug

#204 Fix validate double free bug
  README.md
  VERSION
  docs/API.md
  src/app/ecalls/ECalls.cpp
  src/app/http/ApiHandler.cpp
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/enclave/Enclave.config.xml
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  test/Makefile
Labels: A-app, A-enclave, B-bug

#206 [Auto upgrade] Mrenclave check in docker
  docker/runner/Dockerfile
  docker/runner/start_sworker.sh
  docker/runner/upgrade.sh
Labels: A-other, B-feature, P0

#208 Check chain is syncing
  README.md
  docker/runner/Dockerfile
  docker/runner/start_sworker.sh
  docker/runner/upgrade.sh
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/enclave/Enclave.config.xml
Labels: A-app, B-feature

#209 Mute some logs
  src/app/http/WebsocketClient.cpp
  src/enclave/identity/Identity.cpp
Labels: A-enclave, B-feature

#210 Add wait for chain in restore model
  src/app/process/Process.cpp
Labels: A-app, B-feature
