Repository crustio/crust-sworker, pull requests merged in 2020-09, with the labels that each got.

#211 Set wait device busy time 60s
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/enclave/identity/Identity.cpp
Labels: A-app, A-enclave, B-bug

#214 Fix sgx device busy
  src/app/process/EntryNetwork.cpp
Labels: A-app, B-bug

#223 Fix restore srd bug when restart crust-sworker
  src/enclave/workload/Workload.cpp
Labels: A-enclave, B-bug

#226 Remove buffer pool and add ocall free buffer function
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/utils/BufferPool.cpp
  src/app/utils/BufferPool.h
  src/enclave/Enclave.edl
  src/enclave/persistence/Persistence.cpp
Labels: A-app, A-enclave, B-feature

#227 Update Enclave.config.xml
  src/enclave/Enclave.config.xml
Labels: A-enclave, B-bug

#228 Fix workload err info
  src/app/database/DataBase.cpp
  src/app/http/ApiHandler.h
  src/app/ocalls/OCalls.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/utils/FileUtils.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EJson.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/build_test.sh
  test/integration/performance/run_test.sh
Labels: A-app, A-enclave, B-bug

#229 Fix persist_set previous data error
  src/enclave/persistence/Persistence.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/workload/Workload.cpp
  test/integration/performance/run_test.sh
  test/integration/scripts/start_test.sh
  test/integration/scripts/utils.sh
Labels: A-enclave, B-bug

#231 Punish no karst
  src/app/include/CrustStatus.h
  src/app/process/WorkReport.cpp
  src/enclave/include/CrustStatus.h
  src/enclave/report/Report.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
Labels: A-app, A-enclave, B-feature

#232 Fix stack overflow bug
  src/enclave/identity/Identity.cpp
  src/enclave/report/Report.cpp
  src/enclave/utils/EJson.h
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/EUtils.h
  src/enclave/workload/Workload.cpp
  test/integration/build_test.sh
  test/integration/functionality/workreport
  test/integration/performance/run_test.sh
Labels: A-enclave, B-bug

#233 One chain account match unique pubkey
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
Labels: A-app, A-enclave, B-feature

#234 Report changed workload
  Makefile
  scripts/install.sh
  scripts/install_deps.sh
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/process/Storage.cpp
  src/app/process/Storage.h
  src/app/process/WorkReport.cpp
  src/app/process/WorkReport.h
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EJson.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/Makefile
  test/integration/build_test.sh
  test/integration/functionality/confirm
  test/integration/functionality/delete
  test/integration/functionality/restart
  test/integration/functionality/seal
  test/integration/functionality/srd
  test/integration/functionality/unseal
  test/integration/functionality/workreport1
  test/integration/functionality/workreport2
  test/integration/performance/run_test.sh
  test/integration/scripts/start_test.sh
  test/integration/scripts/utils.sh
Labels: A-app, A-enclave, B-feature
