Repository crustio/crust-sworker, pull requests merged in 2020-12, with the labels that each got.

#303 Notify user to upgrade sworker
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/ocalls/OCalls.cpp
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/enclave/include/CrustStatus.h
Labels: A-app, B-feature

#307 Modify test cases
  src/app/ecalls/ECalls.cpp
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/process/Async.cpp
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.cpp
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  test/integration/build_test.sh
  test/integration/config/config.json
  test/integration/functionality/100_validate
  test/integration/functionality/200_seal
  test/integration/functionality/400_unseal
  test/integration/functionality/500_upgrade
  test/integration/functionality/501_boundary
  test/integration/functionality/600_delete
  test/integration/functionality/700_workreport1
  test/integration/functionality/800_workreport2
  test/integration/scripts/gen_random.sh
  test/integration/scripts/go.sum
  test/integration/scripts/ipfs_helper.go
  test/integration/scripts/start_test.sh
  test/integration/scripts/utils.sh
Labels: B-feature

#313 Remove srd paths in configuration
  README.md
  src/Config.json
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/ocalls/StoreOCalls.cpp
  src/app/ocalls/StoreOCalls.h
  src/app/ocalls/StoreOcalls.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/enclave/Enclave.edl
Labels: B-feature

#315 Change seal/delete interface to sync
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/process/Async.cpp
  src/app/process/Async.h
  src/app/process/Srd.cpp
  src/app/process/WorkReport.h
Labels: A-app, A-interface, B-feature

#316 Fix srd limit error
  src/enclave/srd/Srd.cpp
Labels: A-enclave, B-bug

#318 Sworker stop interface
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/http/WebServer.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/include/CrustStatus.h
  src/enclave/utils/EUtils.h
Labels: A-app, A-enclave, A-interface, B-feature
