Repository crustio/crust-sworker, pull requests merged in 2021-02, with the labels that each got.

#332 Add srd ratio change api
  docs/API.md
  src/Config.json
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/http/ApiHandler.h
  src/app/process/EnclaveData.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/app/utils/Common.cpp
  src/app/utils/Common.h
  src/enclave/include/Parameter.h
  test/integration/functionality/900_restart
Labels: A-app, B-feature

#333 Format annotation
  src/app/chain/Chain.cpp
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/EnclaveQueue.cpp
  src/app/http/HttpClient.cpp
  src/app/ipfs/Ipfs.cpp
  src/app/ocalls/IpfsOCalls.cpp
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/PersistOCalls.cpp
  src/app/ocalls/StoreOCalls.cpp
  src/app/process/EnclaveData.cpp
  src/app/process/EntryNetwork.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/app/utils/Common.cpp
  src/app/utils/FileUtils.cpp
  src/app/utils/FormatUtils.cpp
  src/enclave/Enclave.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/PathHelper.cpp
  src/enclave/workload/Workload.cpp
Labels: A-app, A-enclave, B-documentation

#337 Restart mode need to wait for chain
  README.md
  VERSION
  docs/API.md
  scripts/install.sh
  src/app/include/Resource.h
  src/app/process/Process.cpp
  src/enclave/include/Parameter.h
  test/integration/scripts/gen_random.sh
Labels: A-app, B-feature

#340 Modify srd and file upper limit
  scripts/install.sh
  scripts/install_deps.sh
  src/app/config/Config.cpp
  src/app/ocalls/IpfsOCalls.cpp
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/PersistOCalls.cpp
  src/app/ocalls/StoreOCalls.cpp
  src/app/process/Process.cpp
  src/enclave/Enclave.config.xml
  src/enclave/include/Parameter.h
Labels: A-app, A-enclave, B-feature

#341 Deal chain message
  src/app/chain/Chain.cpp
Labels: A-app, B-feature

#342 Seal file in temp folder and change default srd ratio to 0.99
  docs/API.md
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/http/ApiHandler.h
  src/app/ocalls/StoreOCalls.cpp
  src/app/ocalls/StoreOCalls.h
  src/app/process/Srd.h
  src/app/utils/FileUtils.cpp
  src/enclave/Enclave.edl
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
Labels: A-app, A-enclave, B-feature, B-performance
