Repository crustio/crust-sworker, pull requests merged in 2021-01, with the labels that each got.

#320 Modify persist mechanism
  Makefile
  src/Makefile
  src/app/chain/Chain.cpp
  src/app/ecalls/EnclaveQueue.cpp
  src/app/ecalls/EnclaveQueue.h
  src/app/http/ApiHandler.h
  src/app/ocalls/PersistOCalls.cpp
  src/app/ocalls/PersistOCalls.h
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/persistence/Persistence.cpp
  src/enclave/workload/Workload.cpp
  test/integration/functionality/900_restart
Labels: A-app, A-enclave

#322 Fix upgrade failed bug
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/EnclaveData.cpp
  src/app/process/Process.cpp
  src/app/process/Process.h
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/app/process/WorkReport.cpp
  src/app/utils/Json.hpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/Makefile
  test/integration/functionality/300_srd
  test/integration/functionality/500_upgrade
  test/integration/functionality/700_workreport1
  test/src/app/AppTest.cpp
  test/src/app/http/ApiHandlerTest.h
  test/src/app/process/ProcessTest.cpp
  test/src/app/process/ProcessTest.h
  test/src/app/process/SrdTest.cpp
  test/src/enclave/identity/IdentityTest.cpp
  test/src/enclave/report/ReportTest.cpp
Labels: A-app, A-enclave

#324 Fix gen workload bug
  docs/API.md
  src/app/http/ApiHandler.h
  src/app/http/WebServer.cpp
  src/app/include/Resource.h
  src/app/ocalls/OCalls.cpp
  src/app/process/Process.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/Defer.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/functionality/100_validate
  test/src/app/process/ProcessTest.cpp
  test/src/enclave/report/ReportTest.cpp
  test/src/enclave/validator/ValidatorTest.cpp
  test/src/enclave/workload/WorkloadTest.cpp
Labels: A-app, A-enclave, B-bug

#325 Build production mode
  Makefile
  docker/build.sh
  docker/runner/Dockerfile
  docker/runner/start_sworker.sh
  scripts/install.sh
  src/Makefile
  src/app/include/Resource.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/validator/Validator.cpp
  src/sgx_white_list_cert.bin
Labels: A-app, B-feature

#326 Fix http request body limit exceed
  src/app/config/Config.h
  src/app/http/HttpClient.cpp
  src/app/http/HttpClient.h
  src/enclave/Enclave.config.xml
  test/src/app/AppTest.cpp
Labels: A-app, A-enclave

#327 Fix test cases and format code
  docker/build.sh
  docker/build_env.sh
  scripts/install.sh
  scripts/install_deps.sh
  src/app/ipfs/Ipfs.cpp
  src/app/ocalls/IpfsOCalls.cpp
  src/app/ocalls/OCalls.cpp
  src/app/process/Process.cpp
  src/app/utils/FormatUtils.cpp
  src/app/utils/SgxSupport.c
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/include/IASReport.h
  test/integration/functionality/300_srd
  test/integration/functionality/500_upgrade
  test/integration/functionality/501_boundary
  test/integration/functionality/700_workreport1
  test/integration/functionality/900_restart
  test/integration/scripts/utils.sh
  test/src/Makefile
  test/src/app/ecalls/ECallsTest.cpp
  test/src/app/ecalls/ECallsTest.h
  test/src/app/http/ApiHandlerTest.h
  test/src/app/ocalls/OCallsTest.cpp
  test/src/app/ocalls/OCallsTest.h
  test/src/app/process/ProcessTest.cpp
  test/src/app/process/SrdTest.cpp
  test/src/enclave/EnclaveTest.cpp
  test/src/enclave/EnclaveTest.edl
  test/src/enclave/srd/SrdTest.cpp
  test/src/enclave/srd/SrdTest.h
Labels: A-app, A-enclave

#329 Fix api error
  src/app/http/ApiHandler.h
  src/app/ocalls/OCalls.cpp
Labels: A-app, B-bug

#330 Format and clean code
  src/app/App.h
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/config/Config.h
  src/app/database/DataBase.cpp
  src/app/database/DataBase.h
  src/app/ecalls/EnclaveQueue.h
  src/app/http/ApiHandler.cpp
  src/app/http/ApiHandler.h
  src/app/http/HttpClient.cpp
  src/app/http/HttpClient.h
  src/app/http/WebServer.cpp
  src/app/http/WebServer.h
  src/app/http/WebsocketClient.cpp
  src/app/http/WebsocketClient.h
  src/app/ipfs/Ipfs.cpp
  src/app/ipfs/Ipfs.h
  src/app/log/Log.h
  src/app/ocalls/OCalls.h
  src/app/process/EnclaveData.h
  src/app/process/EntryNetwork.cpp
  src/app/process/EntryNetwork.h
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/app/process/WorkReport.h
  src/app/utils/Common.cpp
  src/app/utils/Common.h
  src/app/utils/FileUtils.cpp
  src/app/utils/FileUtils.h
  src/app/utils/FormatUtils.cpp
  src/app/utils/FormatUtils.h
  src/app/utils/SgxSupport.c
  src/app/utils/SgxSupport.h
  src/enclave/Enclave.cpp
  src/enclave/Enclave.h
  src/enclave/identity/Identity.cpp
  src/enclave/identity/Identity.h
  src/enclave/persistence/Persistence.cpp
  src/enclave/persistence/Persistence.h
  src/enclave/report/Report.cpp
  src/enclave/report/Report.h
  src/enclave/srd/Srd.h
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
  src/enclave/utils/EJson.h
  src/enclave/utils/EUtils.cpp
  src/enclave/utils/EUtils.h
  src/enclave/utils/Json.h
  src/enclave/utils/PathHelper.h
  src/enclave/validator/Validator.cpp
  src/enclave/validator/Validator.h
  src/enclave/workload/Workload.h
  test/integration/benchmark/validate
  test/integration/config/config.json
  test/src/app/http/ApiHandlerTest.h
  test/src/app/process/SrdTest.h
  test/src/enclave/identity/IdentityTest.h
  test/src/enclave/report/ReportTest.cpp
  test/src/enclave/validator/ValidatorTest.cpp
  test/src/enclave/workload/WorkloadTest.h
Labels: A-app, A-enclave

#331 Dynamic SRD reserved
  src/Makefile
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/ecalls/EnclaveQueue.h
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/enclave/Enclave.config.xml
  src/enclave/include/Parameter.h
Labels: B-feature
