Repository crustio/crust-sworker, pull requests merged in 2021-09, with the labels that each got.

#396 Fix seal file end API
  src/app/http/ApiHandler.h
  src/enclave/include/CrustStatus.h
  src/enclave/storage/Storage.cpp
Labels: B-bug, A-enclave, A-app

#398 Support CID V1
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/ocalls/IpfsOCalls.cpp
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
Labels: B-feature, A-interface, A-enclave, A-app

#399 Upgrade version to version1.1.0
  README.md
  VERSION
  docs/API.md
  src/app/include/Resource.h
  src/enclave/include/Parameter.h
Labels: A-app

#400 Yang/fix link err
  src/enclave/storage/Storage.cpp
Labels: B-bug

#401 Fix data process error
  src/enclave/storage/Storage.cpp
Labels: B-bug
