Repository crustio/crust-sworker, pull requests merged in 2021-05, with the labels that each got.

#363 Validate lost file
  docs/API.md
  src/app/config/Config.cpp
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/ocalls/StoreOCalls.cpp
  src/app/process/EnclaveData.cpp
  src/app/process/EnclaveData.h
  src/app/utils/FileUtils.cpp
  src/app/utils/FileUtils.h
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
  src/enclave/utils/Json.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/config/config.json
  test/integration/functionality/100_validate
  test/integration/functionality/501_boundary
  test/integration/functionality/900_restart
  test/integration/scripts/start_test.sh
  test/integration/scripts/utils.sh
  test/src/app/ecalls/ECallsTest.cpp
  test/src/app/ecalls/ECallsTest.h
  test/src/app/http/ApiHandlerTest.cpp
  test/src/app/http/ApiHandlerTest.h
  test/src/app/process/ProcessTest.cpp
  test/src/app/process/SrdTest.cpp
  test/src/enclave/EnclaveTest.cpp
  test/src/enclave/EnclaveTest.edl
  test/src/enclave/identity/IdentityTest.h
  test/src/enclave/report/ReportTest.cpp
  test/src/enclave/srd/SrdTest.cpp
  test/src/enclave/srd/SrdTest.h
  test/src/enclave/validator/ValidatorTest.cpp
  test/src/enclave/validator/ValidatorTest.h
  test/src/enclave/workload/WorkloadTest.h
Labels: A-app, A-enclave, B-documentation, B-feature

#367 Get hashs function supports long file name
  src/enclave/storage/Storage.cpp
  src/enclave/storage/Storage.h
Labels: B-bug

#368 Multi directory layer
  README.md
  src/app/chain/Chain.cpp
  src/app/chain/Chain.h
  src/app/ecalls/EnclaveQueue.h
  src/app/http/ApiHandler.h
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/ocalls/StoreOCalls.cpp
  src/app/ocalls/StoreOCalls.h
  src/app/process/EnclaveData.cpp
  src/app/process/EnclaveData.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/Srd.h
  src/app/process/WorkReport.cpp
  src/app/utils/FileUtils.cpp
  src/app/utils/FileUtils.h
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/include/Parameter.h
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/config/config.json
  test/integration/functionality/100_validate
  test/integration/functionality/300_srd
  test/integration/functionality/900_restart
  test/src/app/process/ProcessTest.cpp
  test/src/app/process/SrdTest.cpp
  test/src/enclave/srd/SrdTest.cpp
  test/src/enclave/validator/ValidatorTest.cpp
  test/src/enclave/workload/WorkloadTest.cpp
Labels: A-app, A-enclave, B-feature

#369 Merge master
  README.md
  VERSION
  docs/API.md
  src/app/chain/Chain.cpp
  src/app/config/Config.cpp
  src/app/include/Resource.h
  src/app/ipfs/Ipfs.cpp
  src/app/ocalls/IpfsOCalls.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/include/CrustStatus.h
  src/enclave/include/Parameter.h
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  test/integration/scripts/utils.sh
  test/src/app/http/ApiHandlerTest.cpp
  test/src/enclave/identity/IdentityTest.cpp
Labels: B-feature

#371 Add system disk use flag
  src/app/App.cpp
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/ocalls/StoreOCalls.cpp
Labels: A-app, B-feature
