Repository crustio/crust-sworker, pull requests merged in 2021-03, with the labels that each got.

#350 Use dynamic temp path
  src/app/config/Config.cpp
  src/app/config/Config.h
  src/app/ocalls/StoreOCalls.cpp
  src/enclave/include/Parameter.h
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-performance

#351 Fix restarting upgrade bug
  src/app/App.cpp
  src/app/include/Resource.h
  src/app/process/Process.cpp
  src/enclave/srd/Srd.cpp
Labels: A-app, A-enclave, B-bug

#352 Fix file info show error after upgrade
  scripts/install.sh
  src/app/ocalls/OCalls.cpp
  src/app/ocalls/OCalls.h
  src/app/process/EnclaveData.cpp
  src/app/process/EnclaveData.h
  src/app/process/Process.cpp
  src/app/process/WorkReport.cpp
  src/enclave/Enclave.edl
  src/enclave/identity/Identity.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
  test/integration/functionality/500_upgrade
Labels: A-app, A-enclave, B-bug

#353 Change version to 0.9.0
  README.md
  VERSION
  docs/API.md
  src/app/include/Resource.h
  src/enclave/include/Parameter.h
Labels: A-app, A-enclave, A-interface
