Repository crustio/crust-sworker, pull requests merged in 2021-07, with the labels that each got.

#381 Update json
  src/app/http/ApiHandler.h
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/utils/FileUtils.cpp
  src/app/utils/FileUtils.h
  src/enclave/utils/Json.h
  test/integration/config/config.json
  test/integration/scripts/start_test.sh
Labels: A-app, A-enclave, B-bug

#382 Fix srd_change function
  src/app/process/Srd.cpp
Labels: A-app, B-bug

#383 Update GET API
  docs/API.md
  src/app/http/ApiHandler.h
  src/app/ipfs/Ipfs.cpp
  src/app/ocalls/OCalls.cpp
  src/app/process/EnclaveData.cpp
  src/app/process/EnclaveData.h
  src/app/process/Srd.cpp
  src/enclave/Enclave.cpp
  src/enclave/report/Report.cpp
  src/enclave/srd/Srd.cpp
  src/enclave/storage/Storage.cpp
  src/enclave/utils/Json.h
  src/enclave/workload/Workload.cpp
  test/integration/scripts/utils.sh
  test/src/enclave/workload/WorkloadTest.cpp
Labels: A-app, A-enclave, B-bug

#384 Recover illegal file
  src/app/ecalls/ECalls.cpp
  src/app/ecalls/ECalls.h
  src/app/ecalls/EnclaveQueue.h
  src/app/http/ApiHandler.h
  src/enclave/Enclave.cpp
  src/enclave/Enclave.edl
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
  src/enclave/workload/Workload.h
Labels: A-app, A-enclave, B-feature

#385 Update report slot to 600
  src/app/include/Resource.h
  src/enclave/include/Parameter.h
  src/enclave/validator/Validator.cpp
  src/enclave/workload/Workload.cpp
Labels: A-app, A-enclave, B-feature

#386 Correct annotation error & version 1.0.0
  README.md
  VERSION
  docs/API.md
  src/app/chain/Chain.cpp
  src/app/config/Config.cpp
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/ipfs/Ipfs.cpp
  src/app/log/Log.cpp
  src/app/process/EnclaveData.cpp
  src/app/process/Process.cpp
  src/enclave/include/Parameter.h
  src/enclave/workload/Workload.cpp
  test/src/app/http/ApiHandlerTest.cpp
  test/src/app/http/ApiHandlerTest.h
  test/src/app/process/ProcessTest.cpp
Labels: A-app, A-enclave, B-bug

#387 Start webservice after restoring enclave data
  README.md
  src/Config.json
  src/app/chain/Chain.cpp
  src/app/ecalls/ECalls.cpp
  src/app/http/ApiHandler.cpp
  src/app/http/WebServer.cpp
  src/app/process/Process.cpp
  src/app/process/Srd.cpp
  src/app/process/WorkReport.cpp
  src/enclave/identity/Identity.cpp
  src/enclave/storage/Storage.cpp
  test/src/enclave/validator/ValidatorTest.cpp
Labels: A-app, B-bug

#388 Update logs
  src/app/http/ApiHandler.h
  src/enclave/Enclave.cpp
Labels: A-app

#390 Mainnet CI
  .github/workflows/main.yml
Labels: A-other, B-feature

#391 Restore use set debug configure
  src/app/database/DataBase.cpp
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/log/Log.cpp
  src/app/log/Log.h
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
Labels: A-app, B-feature

#392 Restore user set debug configure
  src/app/database/DataBase.cpp
  src/app/http/ApiHandler.h
  src/app/include/Resource.h
  src/app/log/Log.cpp
  src/app/log/Log.h
  src/app/process/Process.cpp
  src/enclave/Enclave.cpp
Labels: A-app, A-enclave, B-feature
